<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net452" />
  <package id="ControlzEx" version="4.4.0" targetFramework="net452" />
  <package id="Dragablz" version="0.0.3.223" targetFramework="net452" />
  <package id="DryIoc.dll" version="4.0.7" targetFramework="net452" />
  <package id="Extended.Wpf.Toolkit" version="3.6.0" targetFramework="net452" />
  <package id="ImageProcessor" version="2.9.1" targetFramework="net452" />
  <package id="MahApps.Metro" version="2.4.9" targetFramework="net452" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net452" />
  <package id="Prism.Core" version="7.2.0.1422" targetFramework="net452" />
  <package id="Prism.DryIoc" version="7.2.0.1422" targetFramework="net452" />
  <package id="Prism.Wpf" version="7.2.0.1422" targetFramework="net452" />
  <package id="Serilog" version="2.11.0" targetFramework="net452" />
  <package id="Serilog.Sinks.Console" version="4.0.1" targetFramework="net452" />
  <package id="Serilog.Sinks.File" version="5.0.0" targetFramework="net452" />
  <package id="SharpVectors" version="1.8.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
  <package id="WpfAnimatedGif" version="2.0.2" targetFramework="net452" />
</packages>